.content-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.content-page-tabs-container {
  width: 100%;
  margin-top: 20px;
}

.content-page-tabs-header {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.content-page-tab-item {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-right: 1px solid #ccc;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.content-page-tab-item:last-child {
  border-right: none;
}

/* Change the active tab color to #31628F */
.content-page-tab-item.active {
  color: #31628F;
  /* Active tab text color */
  border-bottom: 2px solid #31628F;
  /* Active tab bottom border color */
}

.content-page-tab-content {
  padding: 10px 0;
}

.content-page-contentlist {
  list-style-type: none;
  padding: 0;
}

.content-page-contentitem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}