.bar {
  background: #d5e5f3;
  height: 65px;
  z-index: 300;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  border: solid;
  border-color: rgb(181, 181, 181);
  border-width: 0 0 1px 0;
  margin-bottom: 20px;
}

.bar nav {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.nav-logo {
  background: url("/monkey.svg");
  display: block;
  background-position: center;
  height: 65px;
  width: 45px;
  background-repeat: no-repeat;
  user-select: none;
}

.nav-gradient {
  position: absolute;
  pointer-events: none;
  top: -200px;
  z-index: 0;
  width: 100vw;
  min-height: 200px;
  max-height: 200px;
  filter: blur(100px);
  background: radial-gradient(circle,#ff7474 100%,#f09393 0);
}