.the-secured-page {
  min-height: 1000px;
  max-width: 900px;
  margin: 0 auto;
}

.img-size { 
  width: 100%;
  cursor: pointer;
}

.content-grid {
  display: flex;
  gap: 10px;
}

.sidebar {
  width: 250px;
  padding: 10px;
}

.media-home-page {
  cursor: pointer;
}

.fave-titles {
  font-size: 20px;
  margin: 0px;
  cursor: default;
}


.main-divider {
  margin-top: 10px;
}

.main-content hr {
  margin: 20px 0;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.favorite-content {
  margin-bottom: 30px;
}

.content-grid {
  display: flex;
  gap: 10px;
}

.content-item {
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.content-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
