.friends-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.friends-page-content {
  display: flex;
  width: 900px;
  margin-top: 20px;
  gap: 20px;
}

.friends-page-search {
  width: 300px;
  margin-bottom: 20px;
}

.tabs-container {
  flex-grow: 1;
  width: 500px;
}

.tabs-header {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab-item {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.tab-item:last-child {
  border-right: none;
}

.tab-item.active {
  color: #31628F;
  border-bottom: 2px solid #31628F;
}

.tab-content {
  padding: 10px 0;
}

.friends-list, .requests-list {
  list-style-type: none;
  padding: 0;
}

.friend-item, .request-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-icons {
  display: flex;
  gap: 10px;
}

.blocked-content {
  padding: 10px;
  font-style: italic;
}