.landing-page {
  max-width: 900px;
  margin: 0 auto;
}

.gradient {
  position: absolute;
  left: 12.5%;
  pointer-events: none;
  top: -200px;
  z-index: 2;
  width: 75vw;
  min-height: 200px;
  max-height: 200px;
  filter: blur(100px);
  background: radial-gradient(circle,#9ed4f1 100%,#41b2e2 0);
}

.cont {
  height: 82vh;
}

.title {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: default;
  user-select: none;
}

.left-text {
  z-index: 5;
  text-align: right;
  padding-right: 10px;
}

.logo {
  z-index: 5;
  display: block;
  margin: 0 auto;
  width: 100px;
  user-select: none;
}

.right-text {
  z-index: 5;
  text-align: left;
  padding-left: 10px;
}

.left-text,
.right-text,
.make-search {
  font-weight: 1000;
  font-size: 40px;
  background: -webkit-linear-gradient(#272727, #8e8e8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.three {
  min-height: 100px;
}

.fiber {
  z-index: -1;
}

.signUp {
  position: relative;
  z-index: 2;
}

.landed-100 {
  min-height: 100vh;
}

.landing-page hr {
  margin: 0;
}

.make-search {
  font-size: 30px;
}

.search-box {
  width: 600px;
  margin: 0 auto;
}

.s-and-e {
  padding-bottom: 5em;
}